/* Walt Disney Company design study CSS */


/* component page styling */

.component-img {
	max-width: 100%;
}

.component_margins {
	margin: 2rem;
}

.component_code {
	padding: 1rem;
}

.component_code_background {
	background: var(--gray-light);
	padding: 1rem;
}

.component {
	margin-top: 1rem;
	padding: 1rem;
	border: 1px solid var(--gray-light);
}


/* Global styles */

@import url(https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC);
@font-face {
    font-family: 'Matterhorn Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matterhorn Regular'), url('Matterhorn.woff') format('woff');
    }

:root {
  --black: #000;
  --gray-dark: #555555;
  --gray-medium: #7c7874;
  --gray-light: #e0dfdf;
  --tan: #ded4bd;
  --aqua-green: #4cd8b0; 
  --white: #fff;
  --off-white: #fff7e4; /* or #fcf8ee?)*/
  --pale-green: #dcf9f1;
  --blue: #0077da;
  --blue-dark: #2d68b1;
  --clear: rgba(0, 0, 0, 0.5);
	--font-script: "Monorail Regular", Script;
  --font-sans-serif-avenir: "Avenir Next Regular", "InspireTWDC", "Matterhorn Regular", Helvetica, sans-serif;
  --font-sans-serif-inspire: "InspireTWDC", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body, 
p {
  font-family: var(--font-sans-serif-inspire);
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 1.666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-sans-serif-inspire);
	margin: 0;
	padding: 0;
} 

h1 {
	color: var(--black);
	text-transform: uppercase;
	font-size: 4rem;
	letter-spacing: .2rem;
	margin: 0;
}

h2 {
	color: var(--gray-dark);
	font-size: 2rem;
	font-weight: normal;
	line-height: 2.5rem;
}

h3 {
	color: var(--black);
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5rem;
}

h4 {
	color: var(--black); /* actually the color is white with a black hover) */
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
}

h6 {
	color: var(--gray-dark);
	text-transform: uppercase;
	font-weight: light;
	font-size: .75rem;
}

a {
	color: inherit;
	text-transform: inherit;
	text-decoration: none;
}

ul, li, a {
	text-decoration: none;
	list-style-type: none;
}

button {
	background: var(--pale-green);
	text-transform: uppercase;
	padding: .5rem;
	border: none;
	font-size: 80%;
}

button:hover {
	background: var(--aqua-green);
	color: var(--white);
}


/* header navigation */

.header {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 4px;
	background-color: var(--clear);
	color: var(--white);
}

.header:hover {
	background: linear-gradient(to right, orange, yellow, green, aquamarine);
	color: var(--black);
	border-bottom: 1px solid var(--gray-light);
}

.navbar {
	width: auto;
	display: flex;
	border: none;
	padding: 0;
	margin: 0;
	justify-content: space-evenly;
}

.navbar:hover {
	background: var(--white);
	width: 100%;
}

.navbar ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	
}

.navbar li {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: .5rem 1rem;
	text-transform: uppercase;
}

.mag-glass {
	display: flex;
	justify-content: right;
	align-items: center;
	max-width: 20px;
}

.mag-glass:hover {  
	/*background-image: url('../img/magnifying-glass-black.png');  */
	max-width: 20px;
}

.logo {
	display: flex;
	justify-content: center;
	max-width: 100px;
	align-items: center;
}

.logo:hover {     /* THIS STILL DOESN'T WORK RIGHT*/
	background-image: url('../img/disney-logo-black.png');
	max-width: 100px;
}


/* Spotlight Section */


.spotlight {
	background: var(--off-white);
}

.spotlight-img {
	align-items: center;
	padding: 2rem 4rem;
	max-width: 100%;
	border-radius: 15px;
}

.callout-box-right {
	max-width: 40%;
	background: linear-gradient(to bottom, orange, yellow, green, aquamarine);
	padding-right: 3px;
	margin: 0;
	align-items: center;
}

.callout-box-left {
	max-width: 40%;
	background: linear-gradient(to bottom, orange, yellow, green, aquamarine);
	margin: 0;
	padding-left: 3px;
	align-items: center;
}


.callout {
	background: var(--white);
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: 0;

}



/* footer Navigation */

.footer {
	background: linear-gradient(to right, orange, yellow, green, aquamarine);
	text-align: center;
	padding-bottom: 4px;
	margin: 0;
}

.social {
	background: var(--off-white);
}

.footer-social {
	padding: 3rem 0 .5rem 0;
	text-transform: uppercase;
	color: var(--tan);
	margin: 0;
	font-size: 65%;
}

.navfooter {
	padding: .5rem .5rem 0 .5rem;
	border-bottom: none;
	background: var(--off-white);
}

.navfooter ul {
	display: flex;
	justify-content: space-evenly;
	color: var(--aqua-green);
	font-size: 30%;
	align-items: center;
	margin: 0;
}

.navfooter li {
	align-items: center;
	border-right: 1px solid var(--gray-light);
	padding: 0 .5rem;
	align-items: center;
}

.navfooter li:last-child {
	border-right: none;
}

.footer-p {
	color: var(--tan);
	border: none;
	font-size: 60%;;
	margin: 0;
	padding: 1rem 0 2rem 0;
	background: var(--off-white);
}






