/* Walt Disney Company design study CSS */


/* component page styling */

.component-img {
	max-width: 100%;
}

.component_margins {
	margin: 2rem;
}

.component_code {
	padding: 1rem;
}

.component_code_background {
	background: var(--gray-light);
	padding: 1rem;
}

.component {
	margin-top: 1rem;
	padding: 1rem;
	border: 1px solid var(--gray-light);
}


/* Global styles */

@import url(https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC);
@font-face {
    font-family: 'Matterhorn Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matterhorn Regular'), url('Matterhorn.woff') format('woff');
    }

:root {
  --black: #000;
  --gray-dark: #555555;
  --gray-medium: #7c7874;
  --gray-light: #e0dfdf;
  --tan: #ded4bd;
  --aqua-green: #4cd8b0; 
  --white: #fff;
  --off-white: #fff7e4; /* or #fcf8ee?)*/
  --pale-green: #dcf9f1;
  --blue: #0077da;
  --blue-dark: #2d68b1;
  --blue-transparent: rgb(85, 163, 192);
  --clear: rgba(0, 0, 0, 0.5);
	--font-script: "Monorail Regular", Script;
  --font-sans-serif-avenir: "Avenir Next Regular", "InspireTWDC", "Matterhorn Regular", Helvetica, sans-serif;
  --font-sans-serif-inspire: "InspireTWDC", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, 
p {
  font-family: var(--font-sans-serif-inspire);
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 1.666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-sans-serif-inspire);
	margin: 0;
	padding: 0;
} 

h1 {
	color: var(--black);
	text-transform: uppercase;
	font-size: 4rem;
	letter-spacing: .2rem;
	margin: 0;
}

h2 {
	color: var(--gray-dark);
	font-size: 2rem;
	font-weight: normal;
	line-height: 2.5rem;
}

h3 {
	color: var(--black);
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5rem;
}

h4 {
	color: var(--black); /* actually the color is white with a black hover) */
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
}

h6 {
	color: var(--gray-dark);
	text-transform: uppercase;
	font-weight: light;
	font-size: .75rem;
}

a {
	color: inherit;
	text-transform: inherit;
	text-decoration: none;
}

ul, li, a {
	text-decoration: none;
	list-style-type: none;
}

button {
	background: var(--pale-green);
	text-transform: uppercase;
	padding: .5rem;
	border: none;
	font-size: 80%;
	width: 100%;
}

button:hover {
	background: var(--aqua-green);
	color: var(--white);
}




/* header */


.header {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 4px;
	background-color: var(--clear);
	color: var(--white);
}

.header:hover {
	background: linear-gradient(to right, orange, yellow, lightgreen, aquamarine);
	color: var(--black);
	border-bottom: 1px solid var(--gray-light);
}

.logo {
	max-width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	position: relative;
}

.logo-black {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
}

.logo-white {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 99;
}

.logo-white:hover {
	display: none;
	top: 0;
	left: 50%;
	/*margin: 0 auto;
	padding: auto;*/
	z-index: -1;
}

.logo-black:hover {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 99;
	background: var(--white);
}


/*
.logo:hover { 
	background-image: url("https://github.com/clalicea/walt-disney-case-study/blob/main/img/disney-logo-black-small.jpg?raw=true");
	max-width: 100px;
}
*/



/* search */ 



.mag-glass {
	max-width: 20px;
	display: flex;
	justify-content: right;
	align-items: center;
	position: relative;
}




/*
.mag-glass-white {
	max-width: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 99;
	/*display: flex;
	justify-content: center;
	align-items: center;
} 

.mag-glass-black {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 99;
}
*/

/*
.mag-glass-white,
.mag-glass-black,  {
	max-width: 100%;
	position: relative;
	display: inline-block;
}

.mag-glass-white,
.mag-glass-black {
	display: none;
  position: absolute;
  top: 0;
  left: 0;
   z-index: 99;
}

.mag-glass-white:hover .mag-glass-black {
	display: inline;
}

/*
.mag-glass:hover {  
	background-image: url("../img/magnifying-glass-black.png");
	max-width: 20px;
}

*/





/* navigation */


@media only screen and (min-width: 768px) {

.navbar {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
	text-transform: uppercase;
	font-size: 90%;
	letter-spacing: .1rem;
	flex-wrap: wrap;
}

.navbar:hover {
	background: var(--white);
}

.navbar1 li, 
.navbar2 li {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0 2rem;
	margin: 0;
}

.navbar1 li:last-child {
	padding-right: 0;
	margin-right: 0;
}

.navbar2 li:first-child {
	padding-left: 0;
	margin-left: 0;
}

}


/* collapsible menu */


@media only screen and (min-width: 600px) {

.collapsible-menu-button {
	background: var(--clear);
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 5px;
	padding: 5px;
  cursor: pointer;
  width: 10%;
  text-align: center;
}

.active, .collapsible-menu-button:hover {
  background-color: var(--aqua-green);
}

.collapsible-menu-content ul {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--aqua-green);
  color: var(--white);
}

}






/* Hero Section */


.hero {
	max-width: 100%;
	position: relative;
  text-align: center;

}

.hero-img {
	max-width: 100%;
}

.hero-h1 {
	color: var(--white);
	font-size: 220%;
	text-shadow: 2px 2px var(--gray-dark);
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Section headings with gradient bar */


.heading {
	text-align: center;
	background: var(--off-white);
	padding-top: 2rem;
}

.heading:after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 15%; 
    padding-top: .20rem;
   	background: linear-gradient(to right, orange, yellow, lightgreen, aquamarine);
}



/* Mission */


.mission {
	background: var(--off-white);
	text-align: center;
	padding: 1rem 10rem;
}



/* Blue Featured Section */            	   


.blue-container {
	max-width: 100%;
	background-color: var(--blue-transparent);
	margin: auto;
	padding: auto;
	position: relative;
	color: var(--white);
}

.blue-img {
	max-width: 100%;
	opacity: 20%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: left;
}

.blue-container ul {
		width: 80%;
  	position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		margin: auto;
		padding: auto;
		
}

.blue-container li, 
.blue-container-h3 {
  	display:flex;
    justify-content: space-evenly;
    margin: auto;
    color: var(--white);
}

.blue-p {
	background: none;
}

.blue-container-h3::after {
		content: "";
    display: block;
    width: 2px; 
    margin: .25rem 2rem;
   	background: linear-gradient(to top, orange, yellow, lightgreen, aquamarine);
}





/* Recent News Section */


.recent-news {
	background: var(--off-white);
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
  justify-content: space-evenly;
}

.column1,
.column2,
.column3 {
	display: flex;
	flex-direction: column;
}

.column1, 
.column3 {
	max-width: 25%;
}

.column2 {
	max-width: 100%;
	align-items: center;
	margin: 0;
	padding: 0;
}

.column2-background {
	background: var(--white);
	margin: 0;
	padding: 1.5rem;
}

.news-thumbnail-img {
	max-width: 100%;
	border-radius: 5px;
}

.news-thumbnail-img-featured {
	max-width: 100%;
	border-radius: 5px 5px 0px 0px;
	margin: 0;
}

.column2-gradient-wrapper {
	max-width: 35%;
	align-content: center;
	background: linear-gradient(to right, orange, yellow, lightgreen, aquamarine);
	padding-bottom: 2px;
	margin: 0
}



/* Spotlight Section */


.callout {                
	width: 100%;
	background: var(--white);
	padding: 2rem;
}




.spotlight-img-right {
	max-width: 100%;
	border-radius: 5px;
	margin-right: 0;
	margin-left: auto;
}

.spotlight-right {
	width: 100%;
	background: var(--off-white);
	padding: 3rem;
	margin: 0;
	position: relative;
}

.callout-container-right {
	width: 33%;
	height: auto;
	background: linear-gradient(to bottom, orange, yellow, lightgreen, aquamarine);
	padding-right: 3px;
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%, -50%);
	z-index: 1;
}




.spotlight-img-left {
	max-width: 100%;
	border-radius: 5px;
	margin-left: 0;
	margin-right: auto;
}

.spotlight-left {              
	width: 100%;
	background: var(--off-white);
	padding: 3rem;
	margin: 0;
	position: relative;
}


.callout-container-left {    
	width: 33%;
	background: linear-gradient(to bottom, orange, yellow, lightgreen, aquamarine);
	padding-left: 3px; 
	position: absolute;           /* STILL CANT GET THIS TO WORK!! */
	top: 50%;
	right: 80%;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 1;
}




/* Footer Navigation */

.footer {
	background: linear-gradient(to right, orange, yellow, green, aquamarine);
	text-align: center;
	padding-bottom: 4px;
	margin: 0;
}

.social {
	background: var(--off-white);
}

.footer-social {
	padding: 3rem 0 .5rem 0;
	text-transform: uppercase;
	color: var(--tan);
	margin: 0;
	font-size: 65%;
}

.navfooter {
	padding: .5rem .5rem 0 .5rem;
	border-bottom: none;
	background: var(--off-white);
}

.navfooter ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: var(--aqua-green);
	font-size: 30%;
	align-items: center;
	margin: 0;
}

.navfooter li {
	align-items: center;
	border-right: 1px solid var(--gray-light);
	padding: .5rem;
	align-items: center;
}

.navfooter li:last-child {
	border-right: none;
}

.footer-p {
	color: var(--tan);
	border: none;
	font-size: 60%;;
	margin: 0;
	padding: 1rem 0 2rem 0;
	background: var(--off-white);
}







