<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Components | Walt Disney Company Case Study</title>
	<link href="https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC" rel="stylesheet" href="../css/main.css">
	<script src="https://kit.fontawesome.com/37d4ab97c9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body class="component_margins">
	<h1>Web Components</h1>

<!--typography-->

	<article class="component">
		<h4>Body Typography</h4>
		img:
		<img src="img/paragraph-style.png" class="component-img">
		code:
		<div class="component_code">
			<p>The mission of The Walt Disney Company is to entertain, inform and inspire people around the globe through the power of unparalleled storytelling, reflecting the iconic brands, creative minds and innovative technologies that make ours the world’s premier entertainment company.</p>
		</div>
	</article>

<!--headings-->

	<article class="component">
		<h4>Headings</h4>
		<div class="component_code">
			h1 <img src="img/h1.png" class="component-img">
			code:
			<h1>Recent News</h1>
		</div>
		<div class="component_code">
			h2 <img src="img/h2.png" width="400px" class="component-img">
			code:
			<h2>From 'Deadpool' to 'Mufasa': The Walt Disney Studios...</h2>
		</div>
		<div class="component_code">
			h3 (which is used for spotlight heading)<br>
			<img src="img/h3.png" width="150px" class="component-img">
			code:
			<h3>About</h3>
		</div>
		<div class="component_code">
			h4 (used for header navigation)<br>
			<img src="img/h4.png" width="75px" lass="component-img">
			code:
			<h4>About</h4>
		</div>
		<div class="component_code">
			h5 n/a
			code:
			<h5>n/a</h5>
		</div>
		<div class="component_code">
			h6
			<img src="img/h6.png" width="100px" class="component-img">
			code:
			<h6>April 12, 2024</h6>
		</div>
	</article>


<!--Atoms-->

	<article class="component">
		<h4>Atoms</h4>
		<div class="component_code">
			logo black:
			<img src="../img/disney-logo-black.png" class="component-img">
		</div>
		<div class="component_code_background">
			logo white:
			<img src="../img/disney-logo-white.png" class="component-img">
		</div>
	</article>


<!--molecules-->

	<article class="component">
		<h4>Molecules</h4>

		<div class="component_code">
			Header, Clear Navigation, img:
			<img src="img/nav-clear.png" class="component-img">
			Header, Hover Navigation, img:
			<img src="img/nav-hover.png" class="component-img">
			Navigation, code:
			<header class="header">
				<nav class="header navbar">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href=""><img src="../img/disney-logo-white.png" class="navbar logo" alt="walt disney logo"></a></li>
						<li><a href="#">Social Responsibility</a></li>
						<li><a href="#">News</h4></a></li>
					</ul>
				</nav>
				<div class="navbar mag-glass">
					<a href="#"><img src="../img/magnifying-glass-rotate-90-white.png" class="mag-glass magnifying-glass-white"></a>
				</div>
			</header>
		</div>

		<div class="component_code">
			Footer, img:
			<img src="img/footer.png" class="component-img">
			Footer, code:
			<footer class="footer">
				<div class="footer footer-social">
					<p class="footer-social">Follow Us On</p>
					<a href="#"><i class="fa-brands fa-square-facebook"></i></a>
				</div>
				<nav class="footer navfooter">
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Your US State Privacy Rights</a></li>
						<li><a href="#">Children's Online Privacy Policy</a></li>
						<li><a href="#">Disney.com Guest Services</a></li>
						<li><a href="#">Advertise With Us</a></li>
						<li><a href="#">Interest-Based Ads</a></li>
						<li><a href="#">Do Not Sell or Share My Personal Informatio</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<div class="navbar mag-glass">
					<a href="#"><img src="../img/magnifying-glass-rotate-90-white.png" class="mag-glass magnifying-glass-white"></a>
				</div>
			</header>
		</div>

	</article>

</body>
</html>