<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Components | Walt Disney Company Case Study</title>
	<link href="https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC" rel="stylesheet">
	<script src="https://kit.fontawesome.com/37d4ab97c9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body class="component_margins">
	<h1>Web Components</h1>

<!--typography-->

	<article class="component">
		<h4>Body Typography</h4>
		img:
		<img src="img/paragraph-style.png" class="component-img">
		code:
		<div class="component_code">
			<p>The mission of The Walt Disney Company is to entertain, inform and inspire people around the globe through the power of unparalleled storytelling, reflecting the iconic brands, creative minds and innovative technologies that make ours the world’s premier entertainment company.</p>
		</div>
	</article>

<!--headings-->

	<article class="component">
		<h4>Headings</h4>
		<div class="component_code">
			h1 <img src="img/h1.png" alt="imge of heading 1" class="component-img">
			code:
			<h1>Recent News</h1>
		</div>
		<div class="component_code">
			h2 <img src="img/h2.png" alt="imge of heading 2"  width="400px" class="component-img">
			code:
			<h2>From 'Deadpool' to 'Mufasa': The Walt Disney Studios...</h2>
		</div>
		<div class="component_code">
			h3 (which is used for spotlight heading)<br>
			<img src="img/h3.png" alt="imge of heading 3" width="150px" class="component-img">
			code:
			<h3>About</h3>
		</div>
		<div class="component_code">
			h4 (used for header navigation)<br>
			<img src="img/h4.png" alt="imge of heading 4" width="75px" class="component-img">
			code:
			<h4>About</h4>
		</div>
		<div class="component_code">
			h5 n/a
			code:
			<h5>n/a</h5>
		</div>
		<div class="component_code">
			h6
			<img src="img/h6.png" alt="image of heading 6" width="100px" class="component-img">
			code:
			<h6>April 12, 2024</h6>
		</div>
	</article>


<!--Atoms-->

	<article class="component">
		<h4>Atoms</h4>
		<div class="component_code">
			logo black:
			<img src="../img/disney-logo-black.png" alt="disney logo black" class="component-img">
		</div>
		<div class="component_code_background">
			logo white:
			<img src="../img/disney-logo-white.png" alt="disney logo white" class="component-img">
		</div>
	</article>



<!--MOLECULES-->


	<article class="component">
		<h4>Molecules</h4>

<!--navigation-->

		<div class="component_code">
			Header, Clear Navigation, img:
			<img src="img/nav-clear.png" alt="transparent navigation bar" class="component-img">
			Header, Hover Navigation, img:
			<img src="img/nav-hover.png" alt="white navigation bar"  class="component-img">
			Navigation, code:
			<header class="header">

				<!--collapsible navigation-->

				<div class="collapsible-menu">
					<a href="#" class="collapsible-menu-button">Menu</a>
					<div class="collapsible-menu-content">
	  					<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Investor Relations</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Social Responsibility</a></li>
							<li><a href="#">News</a></li>
						</ul>
					</div>
				</div>

				<!--regular navigation-->

				<nav class="header navbar navbar1">
					<ul class="navbar">
						<li><a href="#">About</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
					<div class="navbar logo">
						<a href=""><img src="../img/disney-logo-white.png" class="logo logo-white" alt="walt disney logo"></a>
						<a href=""><img src="../img/disney-logo-black.png" class="logo logo-black" alt="walt disney logo"></a>
					</div>
					<ul class="navbar navbar2">
						<li><a href="#">Social Responsibility</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#"><img src="../img/magnifying-glass-rotate-90-white.png" alt="magnifying glass white" class="mag-glass mag-glass-white"></a></li>
						<li><a href="#"><img src="../img/magnifying-glass-black.png" alt="magnifying glass black" class="mag-glass mag-glass-black"></a></li>
					</ul>
				</nav>
				<!--<div class="header navbar mag-glass">
					<a href="#"><img src="../img/magnifying-glass-rotate-90-white.png" class="mag-glass mag-glass-white"></a>
					<a href="#"><img src="../img/magnifying-glass-black.png" class="mag-glass mag-glass-black"></a>
				</div> -->
			</header>
		</div>
	

<!--hero section-->

		<div class="component_code">
			Hero Section, img:
			<img src="img/hero-img.png" alt="image of disneyworld entrance" class="component-img">
			Hero Section, code:
			<section class="hero">
				<img src="../img/StudioLot_TeamDisney_7-web-1440x959.jpg" class="hero-img" alt="image of disneyworld entrance">
				<h1 class="hero-h1">The Walt Disney Company</h1>
			</section>
		</div>



<!--featured section-->

		<div class="component_code">
			Recent News, img:
			<img src="img/featured.png" alt="image of featured items on disney site" class="component-img">
			Recent News, code:	
			<div class="heading">
					<h1>Recent News</h1>
			</div>
			<section class="recent-news">
				<div class="recent-news column1">
					<div class="news-thumbnail">
						<img src="../img/deadpool-wolverine-700x464.jpg" class="news-thumbnail-img" alt="image of wolverine and deadpool">
						<h6>April 22, 2024</h6>
						<p>Marvel Studios Debuts New Trailer for 'Deadpool & Wolverine'...</p>
					</div>
					<div class="news-thumbnail">
						<img src="../img/MyDisney_Title_image-700x464.png" class="news-thumbnail-img" alt="image of Disney Logo with a starbackdrop">
						<h6>April 16, 2024</h6>
						<p>MyDisney Seamless Login: What You Need to Know</p>
					</div>
				</div>
				<div class="column2-gradient-wrapper">
					<div class="recent-news column2">
						<img src="../img/bluey-1050x696.png" class="news-thumbnail-img-featured" alt="image of Bluey and her Mom">
						<div class="column2 column2-background">
							<h6>April 22, 2024</h6>
							<h2>'The Sign' Marks Biggest 'Bluey' Episode Premiere Ever...</h2>
						</div>
					</div>
				</div>
				<div class="recent-news column3">
					<div class="news-thumbnail">
						<img src="../img/wds-slate-700x464.jpg" class="news-thumbnail-img" alt="image of various disney characters">
						<h6>April 12, 2024</h6>
						<p>From 'Deadpool' to 'Mufasa': The Walt Disney Studios...</p>
					</div>
					<div class="news-thumbnail">
						<img src="../img/disney-adventure-logo-V2-700x464.jpg" class="news-thumbnail-img" alt="image of Disney Advneture Worls Logo">
						<h6>April 12, 2024</h6>
						<p>Disneyland Paris Unveils BRand-New Creative Vision for Second Park, Marking...</p>
					</div>
				</div>
			</section>
		</div>


<!--right spotlight-->

		<div class="component_code">
			Right align Spotlight, img:
			<img src="img/spotlight-right-spotlight-about.png" alt="image of BB8 from Star Wars" class="component-img">
			Right Align Spotlight, code:

			<article class="spotlight-right">
				<img src="../img/about-featured-960x540.jpg" class="spotlight-img-right" alt="image of BB8 from Star Wars">
				<div class="callout-container-right">
					<div class="callout">
						<h3>About</h3>
						<p>The mission of The Walt Disney Company is to entertain, inform and inspire people around the globe through the power of unparalleled storytelling, reflecting the iconic brands, creative minds and innovative technologies that make ours the world’s premier entertainment company.</p>
						<a href="#" class="button">View More</a>
					</div> <!--callout-->
				</div> <!--callout-box-->
			</article>
		</div>

<!--left spotlight-->

		<div class="component_code">
			Left align Spotlight, img:
			<img src="img/spotlight-left-spotlight-investor-relations.png" alt="image of disneyland pond" class="component-img">
			Left Align Spotlight, code:
			<article class="spotlight-left">
				<img src="../img/investor-960x540.jpg" class="spotlight-img-left" alt="image of disneyland pond">
					<div class="callout-container-left">
						<div class="callout">
							<h3>Investor Relations</h3>
							<p>Our commitment to creativity, technology and innovation generates unparalleled experiences that drive long-term value for our shareholders.</p>
							<a href="#" class="button">View More</a>
						</div> <!--callout-->
					</div> <!--callout-box-->
			</article>
		</div>
	

<!--mission-->

		<div class="component_code">
			mission, img:
			<img src="img/mission.png" alt="image of mission statement" class="component-img">
			mission, code:
			<section class="mission">
				<div class="heading">
					<h3>Our Mission</h3>
				</div>
				<p>The mission of The Walt Disney Company is to entertain, inform and inspire people around the globe through the power of unparalleled storytelling, reflecting the iconic brands, creative minds and innovative technologies that make ours the world’s premier entertainment company.</p>
			</section>
		</div>


<!--blue featured section-->

		<div class="component_code">
			blue featured section, img:
			<img src="img/blue-section.png" alt="image of blue section" class="component-img">
			blue featured section, code:
			<section class="blue-container">
				<img src="../img/Leadership-Featured-1440x546.jpg" class="blue-img" alt="image of statute of walt disney and mickey mouse">
				<ul>
					<li><h3 class="blue-container-h3">Leadership</h3></li>
					<li><p class="blue-container blue-p">Disney’s leadership team oversees the world’s premier entertainment company, home of the most respected and beloved brands around the globe.</p></li>
				</ul>
			</section>
		</div>


<!--footer-->

		<div class="component_code">
			Footer, img:
			<img src="img/footer.png" alt="image of footer section" class="component-img">
			Footer, code:
			<footer class="footer">
				<div class="social">
					<p class="footer-social">Follow Us On</p>
					<a href="#"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #2d69b1;"></i></a>
				</div>
				<nav class="footer navfooter">
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Your US State Privacy Rights</a></li>
						<li><a href="#">Children's Online Privacy Policy</a></li>
						<li><a href="#">Disney.com Guest Services</a></li>
						<li><a href="#">Advertise With Us</a></li>
						<li><a href="#">Interest-Based Ads</a></li>
						<li><a href="#">Do Not Sell or Share My Personal Information</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<p class="footer-p">&copy; Disney. All rights reserved</p>
			</footer>
		</div>

	</article>

</body>
</html>