<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Walt Disney Company</title>
	<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
</head>

<body>

	
	<img src="featured-article-4.png" class="demo-img" alt="screenshot of moana article">
	
	<article class="latest-news">
		<div class="featured">
			<img src="images/moana.png" class="featured featured-img" alt="moana">
			<h4>April 3, 2024</h4>
			<p class="featured featured-p">Disney Reveals Latest Look at 'Moana 2'</p>
		</div>
	</article>





</body>
</html>